@{
    var sessao = Convert.ToString(Session["Tipo"]);
    if (sessao == "Aluno" || sessao == "Professor")
    {
        Response.Write("<script>location.href='http://localhost:51948/NotasAlunos';</script>");
    }
}

@model PortalNotasFaculdades.Models.UsuariosFaculdades

@{
    ViewBag.Title = "Usuários";
}

<div class="topRefs">
    <a href="~/Home">
        <span class="sp1"><strong><i class="fa fa-home fa-2x"></i></strong></span>
    </a>
    <a href="~/UsuariosFaculdades">
        <span class="txt sp3"><strong>Usuários</strong></span>
    </a>
    <a href="#">
        <span class="txt sp4"><strong>Novo</strong></span>
    </a>
</div>
<hr />

<h2 style="text-align: center;"><strong>Coordenadores</strong></h2>
<hr />

<div class="formCreate">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NomeUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome de Usuário" } })
                    @Html.ValidationMessageFor(model => model.NomeUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "E-Mail" } })
                    @Html.ValidationMessageFor(model => model.EmailUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SenhaUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SenhaUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha" } })
                    @Html.ValidationMessageFor(model => model.SenhaUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome Completo" } })
                    @Html.ValidationMessageFor(model => model.NomeCompleto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
                </div>
            </div>

            <input type="hidden" name="Tipo" id="Tipo" value="Master" />
            <input type="hidden" name="FaculdadeId" id="InstituicaoId" value="@Session["FaculdadeId"]" />
            <input type="hidden" name="EmailFaculdade" id="EmailInstituicao" value="@Session["EmailFaculdade"]" />

            <div class="formSecondary">
                <div class="formInside">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar Usuário" class="btn btn-success" /> |
                        @Html.ActionLink("Voltar á Lista", "Index", new { }, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('a').removeClass("active");
        $("#inst").addClass("active");
    });
</script>