@{
    var sessao = Convert.ToString(Session["Tipo"]);
    if (sessao == "Aluno" || sessao == "Professor")
    {
        Response.Write("<script>location.href='http://localhost:51948/NotasAlunos';</script>");
    }
}

@model PortalNotasFaculdades.Models.UsuariosFaculdades

@{
    ViewBag.Title = "Usuários";
}

<div class="topRefs">
    <a href="~/Home">
        <span class="sp1"><strong><i class="fa fa-home fa-2x"></i></strong></span>
    </a>
    <a href="~/UsuariosFaculdades">
        <span class="txt sp3"><strong>Usuários</strong></span>
    </a>
    <a href="#">
        <span class="txt sp4"><strong>Detalhes</strong></span>
    </a>
</div>
<hr />

<h2 style="text-align: center;"><strong>Coordenadores</strong></h2>
<hr />

<div>
    <h4><strong>Detalhes - @Model.NomeCompleto</strong></h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeUsuario)
                </th>
                <td>
                    @Html.DisplayFor(model => model.NomeUsuario)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmailUsuario)
                </th>
                <td>
                    @Html.DisplayFor(model => model.EmailUsuario)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SenhaUsuario)
                </th>
                <td>
                    *********
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCompleto)
                </th>
                <td>
                    @Html.DisplayFor(model => model.NomeCompleto)
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UsuarioId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar á Lista", "Index", new { }, new { @class = "btn btn-secondary" })
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $('a').removeClass("active");
        $("#inst").addClass("active");
    });
</script>